@model WebApp.Data.Entities.QuestionEntity

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete question №<a asp-action="Details" asp-route-id="@Model.Id">@Model.Id</a></h1>
<hr/>
<div>
     <p>
         <a>@Html.DisplayFor(modelItem => Model.Title)</a>
     </p>
     <p>
         <a>@Html.DisplayFor(modelItem => Model.Author)</a> |
         <a>@Html.DisplayFor(modelItem => Model.Created)</a>
     </p>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
