@model WebApp.Data.Entities.QuestionEntity

@{
    ViewData["Title"] = "Details";
}

    <div>
        <div>
            <p>
                <a>@Html.DisplayFor(modelItem => Model.Title)</a>
                <a>@Html.DisplayFor(modelItem => Model.Content)</a>
            </p>
            <p>
                <a>@Html.DisplayFor(modelItem => Model.Author)</a> |
                <a>@Html.DisplayFor(modelItem => Model.Created)</a>
            </p>
            <p>
                <a asp-action="Create" asp-controller="Answers" asp-route-id="@Model.Id">Add Answer</a>
            </p>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
        <div>
            @foreach (var item in Model.Answers)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Votes: @item.Visitors.Where(x => x.IsVotes).Count()</p>
                            </td>
                            <td>
                                <p>
                                    <a>@Html.DisplayFor(modelItem => item.Content)</a>
                                </p>
                                <p>
                                    <a>@Html.DisplayFor(modelItem => item.Author)</a> |
                                    <a>@Html.DisplayFor(modelItem => item.Created)</a>
                                </p>
                            <td>
                                <p></p>
                                <p>
                                    <a asp-action="Edit" asp-controller="Answers" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-controller="Answers" asp-route-id="@item.Id">Delete</a>
                                </p>
                                <p></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <a asp-action="Create" asp-controller="Comments" asp-route-id="@item.Id">Add Comment</a>
                </p>
                <hr/>
                <div>
                    @foreach (var item2 in item.Comments)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <a>@Html.DisplayFor(modelItem => item2.Content)</a>
                                        </p>
                                        <p>
                                            <a>@Html.DisplayFor(modelItem => item2.Author)</a> |
                                            <a>@Html.DisplayFor(modelItem => item2.Created)</a>
                                        </p>
                                    <td>
                                        <p></p>
                                        <p>
                                            <a asp-action="Edit" asp-controller="Comments" asp-route-id="@item2.Id">Edit</a> |
                                            <a asp-action="Delete" asp-controller="Comments" asp-route-id="@item2.Id">Delete</a>
                                        </p>
                                        <p></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            }
        </div>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
