@model IEnumerable<WebApp.Data.Entities.CommentEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        <a>@Html.DisplayFor(modelItem => item.Content)</a>
                    </p>
                    <p>
                        <a>@Html.DisplayFor(modelItem => item.Author)</a> |
                        <a>@Html.DisplayFor(modelItem => item.Created)</a>
                    </p>
                <td>
                    <p></p>
                    <p>
                        <a asp-action="Edit" asp-controller="Comments" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Comments" asp-route-id="@item.Id">Delete</a>
                    </p>
                    <p></p>
                </td>
            </tr>
        }
    </tbody>
</table>
